{% extends "base.html" %} {% block content %}
<h2 class="center">Confirm Post Deletion</h2>
<div class="warning center"><img src="/images/caution.png" height="150px"></div>
<div>
  <form class="warning_button" method="post">
    <p class="center">Deleting a post can not be undone. Once you delete it, it will be gone for good.</p>
    <p class="center">Select 'OK to Delete' to proceed, or 'Cancel' to go back.</p>
    <input type="submit" value="Ok to Delete" class="post_button">
    <input type="hidden" name="form_name" value="delete_yes">
  </form>

  <form class="warning_button" method="post">
    <input type="submit" value="Cancel" class="post_button">
    <input type="hidden" name="form_name" value="delete_cancel" >
  </form>
</div>
{% endblock %}