{% extends "base.html" %} {% block content %} {{post.render() | safe}}
<div >Likes: {{post.likes}}{{message}}</div>
<div>Comments:</div>

{% for result in post.comment_list %} 
  {% set result_list = result.split('^',1) %}
  <form method="post">
    <div>
      <div class="comment-date">{{ result_list[0] }}</div>
      <div>
        <input type="image" name="edit_comment" 
          title="Click to edit this comment." value="edit_comment" 
          src="/images/edit_comment.png" 
          class="comment_edit_img"
          height="30px">
        <input type="hidden" name="form_name" value="edit_comment">
        <input type="hidden" name="active_comment" value="{{ result }}">
        {{result_list[1]}}
      </div>

      <br><br>
    </div>
  </form>
    {% endfor %}



<form method="post">
  <div class="post-likes likes">
    <input type="image" name = "like_action" title="Click to Like." 
      value = "like" src="/images/like.png" height="40px">
    <input type = "hidden" name = "form_name" value = "like">
  </div>
</form>
<form method="post">
  <div class="post-likes dislikes">
    <input type="image" name = "unlike_action" title="Click to Unlike." 
      value = "unlike"  src="/images/dislike.png" height="40px">
        <input type = "hidden" name = "form_name" value = "unlike">
  </div>
</form>
<form method="post">
  <div class="post-likes post-comment">
    <input type="image" name = "comment" title="Click to comment." 
      value = "comment"  src="/images/comment.png" height="60px">
        <input type = "hidden" name = "form_name" value = "comment">
  </div>
</form>
<form method="post">
  <div class="post-likes post-update">
    <input type="image" name= "update_post" value="update_post" 
      title="Click to update the post." src="/images/update.png" 
        height="40px">
    <input type = "hidden" name = "form_name" value = "update_post">
  </div>
</form>
<form method="post">
  <div class="post-likes post-delete">
    <input type="image" name= "delete_post" value="delete_post" 
      title="Click to delete this post." 
      src="/images/delete.png" height="45px">
    <input type = "hidden" name = "form_name" value = "delete_post">
  </div>
</form>
<form>
  <div class = "error">
    {{error}}
  </div>
  <div class = "message">
    {{confirmation}}
  </div>
</form>
{% endblock %}