{% extends "base.html" %} {% block content %}
<h2>Update Post</h2>

<form method="post">
  <label>
        <div>subject</div>
        <input type="text" name="subject" value="{{post.subject}}">
      </label>

  <label>
        <div>blog</div>
        <textarea name="content">{{post.content}}</textarea>
      </label>

  <div class="error">{{error}}</div>

  <input type="submit" value="Update Post" class="post_button">
  <input type="hidden" name="form_name" value="update_complete">
</form>
<form method="post">
  <input type="submit" value="Cancel" class="post_button">
  <input type="hidden" name="form_name" value="update_cancelled">
</form>
{% endblock %}